/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.LoginPage-container {
  margin: 0 auto;
  padding: 0 0 0 0;
  max-width: var(--max-content-width);
}

.test {
	width: 50%;
}
.centeredLoginForm{
	margin-top: 45px;
	margin-bottom: 50px;
}