/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.LoginPage-container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.center {
    margin: auto;
    width: 20%;
    padding: 10px;
}

.button {
     width: 1000px;
     height: 30px;
}