/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.LoginPage-container {
  text-align: center;
  margin: 0 auto;
  max-width: var(--max-content-width);
}

.test {

}
.centeredLoginForm {

	margin-top: 45px;
	margin-bottom: 50px;
}