html
	head

	body
		p#heading Marist College Transfer Tracker

	p#headerLine1

			p#OverviewHeader Project Overview

			div#blurb1  Marist Transfer Tracker is a tool that allows prospective students the opportunity to quickly and easily generate a credit transfer report! This credit transfer report will provide useful details such as if a class if transferable to Marist College, how many total credits will directly transfer to Marist, and will attempt to match you with your most compatible major offered at Marist. To start using this tool, {click here} or navigate to the Sign up page using via the top nav bar and create an account.

		p#headerLine2

		div#faq 

			p#faqheader Frequently Asked Questions

			div#blurb2

				p#Q1 Question:  How official are the Marist Transfer Tracker reports ?

				p#A1 Answer: The credit transfer reports generated are designed to give the applicant a good, general estimate of how their credit transfer process will go. While these reports are normally accurate, this is not an offical Marist Admissions credit report.

				p#Q2 Question: How can I request additional information about transfering to Marist College ?

				p#A2 Answer: This information can be found on the offical Marist website or by following this link 

				p#Q3 Question: What was the motivation behind creating this tool  ?

				p#A3 Answer: The current Marist College transfer system is confusing, lengthy, unwelcoming proces for prospective students. We hope that by introducing this helpful tool, more students will pursue their insterest in Marist.







			