/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
@import '../variables.css';

.tableLabel {
	font-size: 1em;
}
.textCenter {
	text-align: center;
}
.completedTable {
	height: 300px;
	overflow: auto;
}
.first {
width: 50%;
}
.second {
width: 30%;
}
.third {
width: 20%;
}
.missingCourse {
	text-align: center;
	color: red;
	font-size: 15pt;
}