/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.CourseSelectionPage-container {
  margin: 0 auto;

  max-width: var(--max-content-width);
  margin-top: 25px;
  margin-bottom: 25px;

}
body {
	padding: 50px,50px,50px,50px; 
}
.stepHeading {
	text-align: left;
	font-size: 1.75em;
	margin-top: 10px;
	margin-bottom: 10px;
}
.spaceMeBB {
margin: 25px;
text-align: left;
}
.schoolPicker {
	width: 50%;
	text-align: center;
}
.currentSchoolLabel {
	text-align: center;
	margin-bottom: 15px;
	font-size: 1em;
}
.currentSchoolDropbox {
	margin-left: 35px;
}
.centerText {
	text-align: center;
}
.submitCourseSection {
	margin-top: 25px;
	
}
.leftText {
	text-align: left;
}
.testLeft {
	text-align: left;
}
.red{
	color: red;
}
.blue{
	background-color:blue;
}
.green{
	background-color: green;
}
.fontSizeFix {
	font-size: 1em;
}
.verticalLine {
	 border-style: solid;
     border-top: thick  #a41020;
     background: #a41020;
     color: #a41020;
     background-color: #a41020;
     margin-top: 15px;
     margin-bottom: 10px;
}
.helpIcon{
	font-size: 20px;
}
.centerDiv{
	text-align: center;
}